<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 404 </title>
    <link rel="stylesheet" href="../css/404.css"/>
</head>
<style>
    
</style>
<body>
    <!--Header-->
    <header>
        <div class="main-header">
            <img src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="Platzi-Video">
        </div>
    </header>
    
    <!--Page center content-->
    <section id="sec_0" class="section">
        <p style="font-size: 64px;" class="animated hinge">404</p>
        <p style="font-size: 32px;">Page not found :(</p>
    </section>
</body>
</html>