<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Platzi-Video | Login </title>
    <link rel="stylesheet" href="../css/user_pages.css"/>
</head>
<style>
    body {
        background-image: url("../media/cool-background-login.png");
    }
</style>
<body>
    <!--Header-->
    <header>
        <div class="main-header">
            <img src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="Platzi-Video">
        </div>
    </header>
    
    <!--Page center content-->
    <section id="sec_0" class="section">
        <form>
            <div class="user_data">
                <h2>Log in</h2>
                <div class='user-fields'>
                    <input type="text" class='user_field' placeholder="Email">
                    <input type="password" class='user_field' placeholder="Password">
                    <button type="button" class='user_button'>Login</button>
                    <div class='user-options'>
                        <input id='user_remember' type="checkbox">
                        <label for='user_remember'>Remember me</label>
                        <a href="#">Forgot my password</a>
                    </div>
                </div>
                <div class='social-media'>
                    <a href="#">
                        <img src='../icons/google.png'>
                        Log in with Twitter
                    </a>
                    <a href="#">
                        <img src='../icons/twitter.png'>
                        Log in with Google
                    </a>
                </div>
                <div class='register'>
                    <a href="#">Make an Account!</a>
                </div>
            </div>
        </form>
    </section>
    <section id="sec_1" class="section">
        <p style="font-size: 64px;">Seccion 1</p>
    </section>
    <section id="sec_2" class="section">
        <p style="font-size: 64px;">Seccion 2</p>
    </section>

    <!--Footer-->
    <footer class="footer">
        <ul class="nav-footer">
            <li>Contactanos</li>
            <li>Politica de privacidad</li>
            <li>Terminos y Condiciones</li>
        </ul>
    </footer>

    <script src='../scripts/scroll_manager.js'/>
</body>
</html>