<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platzi Video</title>
    <link rel="stylesheet" href="../css/main_page.css"/>
</head>
<body>
    <!--Header-->
    <header>
        <div class="main-header">
            <img src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="Platzi-Video">
        </div>
        <nav class="sec-header">
            <ul class="secItems-header" style="display: none;">
                <li><a href="#sec_0">Seccion Principal</a></li>
                <li><a href="#sec_1">Seccion 1</a></li>
                <li><a href="#sec_2">Seccion 2</a></li>
                <li><a href="#sec_3">Seccion 3</a></li>
            </ul>
        </nav>
        <div class="menu-header">
            <div class="profile-menu">
                <img src="../icons/user-icon.png">
                <p>Profile</p>
            </div>
            <div class="menu-options">
                <ul>
                    <li><a href="/">Account</a></li>
                    <li><a href="/">Help center</a></li>
                    <li><a href="index.html">Log out</a></li>
                </ul>
            </div>
            <div class="menu-detail">
                <img src="../icons/triangle.png">
            </div>
        </div>
    </header>
    
    <!--Page center content-->
    <section id="sec_0" class="section">
        <div class="carousel">
            <div class="carousel_container">
                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-item_details">
                        <div>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/play-icon.png" alt="Play"></button>
                            <button type="button" onclick="alert('Playing!')"><img src="../icons/plus-icon.png" alt="Plus"></button>
                        </div>
                        <p class="carousel-item_details-title">Título descriptivo</p>
                        <p class="carousel-item_details-subtitle">2019 16+ 114 minutos</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer footer_active">
        <ul class="nav-footer">
            <li>Contactanos</li>
            <li>Politica de privacidad</li>
            <li>Terminos y Condiciones</li>
        </ul>
    </footer>

    <script src="../scripts/scroll_manager.js"></script>
</body>
</html>