<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Platzi-Video | Login </title>
    <link rel="stylesheet" href="../css/user_pages.css"/>
</head>
<style>
    body {
        background-image: url("../media/cool-background-register.png");
    }
</style>
<body>
    <!--Header-->
    <header>
        <div class="main-header">
            <img src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="Platzi-Video">
        </div>
    </header>
    
    <!--Page center content-->
    <section id="sec_0" class="section">
        <form>
            <div class="user_data">
                <h2>Sign up</h2>
                <div class='user-fields'>
                    <input type="text" class='user_field' placeholder="Username">
                    <input type="text" class='user_field' placeholder="Email">
                    <input type="password" class='user_field' placeholder="Password">
                    <button type="button" class='user_button'>Sign up</button>
                </div>
                <hr>
                <div class='register'>
                    <a href="#">Log in!</a>
                </div>
            </div>
        </form>
    </section>

    <!--Footer-->
    <footer class="footer">
        <ul class="nav-footer">
            <li>Contactanos</li>
            <li>Politica de privacidad</li>
            <li>Terminos y Condiciones</li>
        </ul>
    </footer>
</body>
</html>